/*
Colors - colourLovers.com
http://www.colourlovers.com/palette/2104803/%E7%9B%B8%E5%B7%9E%E4%B8%83%E9%87%8C%E6%B5%9C

Beige: #F4EAD5;
Dark chocolate: #725F5F;
Bright orange: #FF785B;
Dusty blue: #97BFB7;
Orange: #F89B62;
*/

body {
  background: #F4EAD5;
}

.container-fluid {
  max-width: 800px;
}

.panel-heading {
  color: #F4EAD5;
  font-size: 2em;
  margin: 30px 30px 0px 30px;
  background: #725F5F;
  border-color: #725F5F;
}

#heading {
  font-size: 2em;
  font-weight: bold;
}

#menu {
  font-size: 0.5em;
  background: #725F5F;
}

.active {
  font-weight: bold;
}

#all {
  color: inherit;
  background: #FF785B;
  border-color: #FF785B;
}

.panel-body {
  margin: 2px 30px;
}

.online, .online a, #online {
  color: #725F5F;
  background: #F89B62;
  border-color: #F89B62;
}

.offline, .offline a, #offline {
  color: #725F5F;
  background: #97BFB7;
  border-color: #97BFB7;
}

.img-size {
  max-width: 60px;
  border: 2px solid;
  border-color: #FF785B;
}

